@import 'dsm-tokens', 'spacing';

$color-chablis: #fff4f4;

// Typographic scale based on major second (1.125)
// https://type-scale.com/
$text-size-up-5: 1.802rem; // 28.83px
$text-size-up-4: 1.602rem; // 25.63px
$text-size-up-3: 1.424rem; // 22.78px
$text-size-up-2: 1.266rem; // 20.25px
$text-size-up-1: 1.125rem; // 18.00px
$text-size-base: 1rem; // 16.00px
$text-size-down-1: 0.889rem; // 14.22px
